html {
    box-sizing: border-box;
    }

nav {
    width: 100%;
    background-color: deepskyblue;
    padding-left: 30px;
    padding-right: 10px;
}

.logo  {
    display:inline-block;
}
.nav-links {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: flex-start;
}

.nav-item {
    display: inline-block;
    flex-flow: row-reverse;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

.logo img {
    width: 186px;
    vertical-align: middle;
}