/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
}

/* Header styling */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3399ff;
  padding: 5rem;
}

header h1 {
  font-size: 2rem;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 1.7rem;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.7rem;
  color: black;
}

nav ul li a:hover {
  color: #fff;
}

/* Section styling */
section {
  padding: 2rem;
}

/* Hero styling */
.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.661);
  background-size: cover;
  text-align: left;
}

.hero h2 {
  font-size: 4rem;
  line-height: 1.2;
}

.hero img {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

/* About section properties */
.about {
  display: flex;
  background-color: rgba(128, 128, 128, 0.19);
  padding: 5rem;
}

.about h3 {
  font-size: 2rem;
  font-weight: 800;
  color: black;
  line-height: 1.9rem;
}

.about p {
  font-size: 1.7rem;
  color: #222326;
}

/* Work section properties */
.work-section {
  background-color: rgba(103, 108, 108, 0.371);
  padding: 6rem;
}

.work-content {
  padding: 2rem;
}

.work-title {
  font-size: 2rem;
  line-height: 3rem;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33.33% - 20px);
}

.card img {
  max-width: 100%;
  width: 100%;
}

.card-row {
  display: flex;
  flex-direction: column;
}

.card-header {
  justify-content: center;
  font-size: 1.5rem;
}

.code-text {
  font-size: 1.5rem;
}

.card.full-width-card {
  width: 100%;
}

.card.run-buddy-card,
.card.calculator-card {
  width: calc(50% - 20px);
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33.33% - 20px);
}

.card img {
  max-width: 100%;
  width: 100%;
}

/* Footer section */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3399ff;
  padding: 5rem;
}

footer h4 {
  font-size: 2rem;
  cursor: pointer;
}


/* Media Queries */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
  }

  header h1 {
    margin-bottom: 2rem;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero h2 {
    font-size: 3rem;
    margin-top: 2rem;
  }

  .hero img {
    width: 15rem;
    height: 15rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .about {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .about p {
    font-size: 1.8rem;
  }

  .work-section {
    padding: 3rem;
  }

  .card {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .hero h2 {
    font-size: 2.5rem;
  }

  .hero img {
    width: 12rem;
    height: 12rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
  }

  .about h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .about p {
    font-size: 1.6rem;
  }

  .work-title {
    font-size: 2;
  }
}
